{% extends '_base.html' %}
{% load static %}

{% block title %} صفحه اصلی{% endblock title %}
{% block content %}

<!-- intro section start -->
<section class="container mt-5">
    <div class="row">

        {% for article in most_viewed %}
        <div class="col-md-12 intro-box fade {% if forloop == first  %}show{% endif %}">
            <div class="bg-light">
                <div class="row">
                    <div class="col-md-6 intro-img">
                        <img src="{{ article.image.url }}" alt="Post 1">
                    </div>
                    <div class="col-md-6 intro-content">
                        <div class="my-4 mx-1">
                            {% for category in article.categories.all %}
                                <a href="#" class="badge bg-primary">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                        <h3 class="my-4 mx-2 intro-content-title">
                            <a href="{% url 'blog:article_detail' article.pk article.get_replace_name %}">{{ article.title }}</a>
                        </h3>
                        <p class="my-4 mx-2">
                            {{ article.description|truncatewords:30 }}
                        </p>
                        <div class="my-4 mx-2">
                            <i class="fa fa-angle-right intro-handle" onclick="plusIntroSlides(-1)"></i>
                            <i class="fa fa-angle-left intro-handle" onclick="plusIntroSlides(1)"></i>
                            <span>
                                {{ forloop.counter }} از 4
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
<!-- intro section end -->

<hr class="my-5">

<!-- content section start -->
<section class="container mt-5">
    <div class="row">
        <section class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-bold mb-4">آخرین پست ها</h5>
                </div>
                
                {% for article in latest %}
                <article class="col-md-6 article-card">
                    <div>
                        <img src="{{ article.image.url }}" class="article-img" alt="{{ article.title }}">
                    </div>
                    <div class="article-overlay">
                        <div class="my-4 mx-1">
                            {% for category in article.categories.all %}
                            <a href="#" class="badge bg-primary">{{ category.name }}</a>
                             {% endfor %}
                        </div>
                        <h3 class="my-4 mx-2 article-title">
                            <a href="{% url 'blog:article_detail' article.pk article.get_replace_name %}">{{ article.title }}</a>
                        </h3>
                        <p class="my-4 mx-2 text-light">
                            {{ article.description|truncatewords:30 }}
                        </p>
                        <div class="my-4 mx-2">
                            <a href="{% url 'blog:article_detail' article.pk article.get_replace_name %}" class="btn btn-primary">خواندن</a>
                        </div>
                    </div>
                </article>
                {% endfor %}

                <div class="col-md-12 my-3">
                    <a href="{% url 'blog:article_list' %}" class="btn btn-outline-primary">همه پست ها</a>
                </div>
            </div>
        </section>
        <aside class="col-md-4">
            <h5 class="text-bold mb-4">همه دسته بندی ها</h5>
            <ul class="list-unstyled mb-4">
                
                {% for category in categories %}
                <li class="border-bottom mb-3 pb-2 d-flex justify-content-between align-items-center">
                    <a href="#" class="small">
                        <i class="fa fa-angle-left"></i>
                        {{ category.name }}
                    </a>
                    <span class="badge bg-secondary rounded-pill">{{ category.articles.all.count }}</span>
                </li>
                {% endfor %}

            </ul>
            <h5 class="text-bold mb-4">نویسنده های برتر</h5>
            <ul class="list-unstyled mb-4">
                
                {% for article in popular_authors %}
                <li class="border-bottom mb-3 pb-2">
                    <a href="{% url 'account:author_detail' article.author.username %}">
                        <img src="{{ article.author.avatar.url }}" class="aside-author-img" alt="">
                        {{ article.author.get_full_name }}
                    </a>
                </li>
                {% endfor %}

            </ul>
        </aside>
    </div>
</section>
<!-- content section end -->
{% endblock content %}