{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}ویرایش حساب | وبلاگ ما{% endblock title %}

{% block content %}
<!-- content section start -->
<section class="container my-5">
    <div class="row justify-content-center py-4">
        <div class="col-md-8 mb-5 border rounded p-2">
            <div class="text-center mb-2">
                <img src="{{ object.avatar.url }}" alt="user profile" class="rounded-circle" width="100px"
                    height="100px">
            </div>
            <div class="text-center">{{ object.get_full_name }}</div>
        </div>

        <h6 class="text-center mb-3 border-bottom pb-3">ویرایش حساب کاربری</h6>
        <section class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.avatar|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-warning">ویرایش</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>
<!-- content section end -->

{% endblock content %}