{% extends '_base.html' %}

{% block title %}{{ user.get_full_name }} | بلاگ ما{% endblock title %}

{% block content %}
    <!-- content section start -->
    <section class="container my-5">
        <div class="row">
            <section class="col-md-12">
                <div class="row">
                    <div class="col-md-12 mb-5 border rounded p-2">
                        {% if user.image %}
                            <img src="media/account/avatar/{{ user.image }}" alt="user profile" class="rounded-circle" width="100px" height="100px">
                        {% else %}
                            <img src="../media/account/avatar/default.jpg" alt="user profile" class="rounded-circle" width="100px" height="100px">
                        {% endif %}    
                        {{ user.get_full_name }}
                    </div>
                    <div class="col-md-12">
                        <h5 class="text-bold mb-4">نوشته های اخیر</h5>
                    </div>
                    {% for article in user_articles %}                    
                    <!-- single article -->
                        <article class="col-md-4 article-card">
                            <div>
                            <img src="../media/{{ article.image }}" class="article-img" alt="article 1">
                            </div>
                            <div class="article-overlay">
                                <div class="my-4 mx-1">
                                    {% for category in article.categories.all %}                                        
                                        <a href="#" class="badge bg-primary">{{ category }}</a>
                                    {% endfor %}                                        
                                </div>
                                <h3 class="my-4 mx-2 article-title">
                                    <a href="#">{{ article.title }}</a>
                                </h3>
                                <p class="my-4 mx-2 text-light">{{ article.description|truncatewords:30 }}</p>
                                <div class="my-4 mx-2">
                                    <a href="#" class="btn btn-primary">خواندن</a>
                                </div>
                            </div>
                    </article>
                    {% endfor %}
                </div>
            </section>
        </div>
    </section>
    <!-- content section end -->

{% endblock content %}
