{% extends '_base.html' %}

{% block title %}ورود | بلاگ{% endblock %}



{% block content %}
<section class="container my-5">
    <div class="row">
      <div class="col-md-12">
          <h3>ثبت نام در بلاگ ما</h3>
      </div>
      <hr class="my-3">
      <div class="col-md-7">
          <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-4">
                    <label for="">نام کاربری:</label>
                    {{ form.username }}
                    {% for err in form.username.errors %}
                        <ul>
                            <li class="text-danger">{{ err }}</li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-4">
                    <label for="">رمز عبور:</label>
                    {{ form.password }}
                    {% for err in form.username.errors %}
                        <ul>
                            <li class="text-danger">{{ err }}</li>
                        </ul>
                    {% endfor %}
                </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-outline-success">ورود</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </section>
{% endblock %}
