{% extends '_base.html' %}

{% block title %}ثبت نام | بلاگ ما{% endblock %}


{% block content %}
<section class="container my-5">
      <div class="row">
        <div class="col-md-12">
            <h3>ثبت نام در بلاگ ما</h3>
        </div>
        <hr class="my-3">
        <div class="col-md-7">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="">نام کاربری:</label>
                        {{ form.username }}
                        {% for err in form.username.errors %}
                            <ul>
                                <li class="text-danger">{{ err }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-md-12 mb-4">
                        <label for="">ایمیل:</label>
                        {{ form.email }}
                        {% for err in form.email.errors %}
                            <ul>
                                <li class="text-danger">{{ err }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-md-12 mb-4">
                        <label for="">رمز عبور:</label>
                        {{ form.password1 }}
                        {% for err in form.password1.errors %}
                            <ul>
                                <li class="text-danger">{{ err }}</li>
                            </ul>
                    {% endfor %}
                    </div>
                    <div class="col-md-12 mb-4">
                        <label for="">تکرار رمز عبور:</label>
                        {{ form.password2 }}
                        {% for err in form.password2.errors %}
                            <ul>
                                <li class="text-danger">{{ err }}</li>
                            </ul>
                    {% endfor %}
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-success">ثبت نام</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </section>
{% endblock %}
